/* must be responsive 
   use a background with gradient
   make the todo table white and gray rows
   remove the bullets and replace with delte button
   add fadeIn effect to buttons
*/
.container{
    width: 360px;
    margin: 10% auto;
    /* border: 2px solid gray; */
}

.lineThrough{
    text-decoration: line-through;
    color: gray;
}

h1{
    width: 360px;
    background-color: steelblue;
    color: white;
    margin: 0 auto;
    font-family: consolas;
    padding: 1px 2px;
}
.text-box{
    /* margin: 0 35%; */
    width: 360px;
    padding: 7px 0;
}
/* find a way to alternate the shades of 
    even and odd rows
*/
.embellishTodo{
    background-color: rgb(177, 180, 182);
    width: 360px;
    color: black;
    margin: 0 auto;
    font-family: consolas;
    padding: 3px 2px;
    border-bottom: 0.5px solid black;
}
