/* must be responsive 
   use a background with gradient
   make the todo table white and gray rows
   remove the bullets and replace with delte button
   add fadeIn effect to buttons
*/
.container{
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    /* border: 2px solid gray; */
}

body{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lineThrough{
    text-decoration: line-through;
    color: gray;
}

h1{
    width: 360px;
    background-color: steelblue;
    color: white;
    margin: 0 0;
    font-family: consolas;
    padding: 10px 20px;
    font-weight: normal;
}
input{
    /* margin: 0 35%; */
    font-size: 18px;
    width: 400px;
    margin: 0 0;
    padding: 13px 13px 13px 20px;
    /* width and height properties include
       padding and boder, but not the margin
    */
    box-sizing: border-box;
    font-family: consolas;
}
input:focus{
    background: white;
    border: 3px solid rgb(116, 116, 121);
    outline: none;
}
/* find a way to alternate the shades of 
    even and odd rows
*/
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: white; 
    font-family: consolas;
    height: 40px;
    /* so that line takes the entire 40px from above */
    line-height: 40px;
    width: 367px;
    padding: 0 13px 0 20px;
    border-bottom: 0.5px solid black;
}
li:nth-child(2n){
    background: #f7f7f7;
    font-family: consolas;
    width: 367px;
    padding: 0 13px 0 20px;
    border-bottom: 0.5px solid black;
}

.fa-plus{
    float: right;
}

/* toggle the trash can on and off when hovered at */